
$colorHeader: rgb(213, 169, 255);
$colorResalto: rgb(53, 187, 232);
$estiloNombrePrincipal: "Amatic SC", sans-serif;
$estiloH2: "Staatliches", sans-serif;
$estiloTituloSlider: "Staatliches", sans-serif;
